@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1;
}

p {
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.header-content {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-left,
.header-right,
.header-form,
.logo {
  display: flex;
  align-items: center;
}

.header-left a,
.header-right a {
  text-decoration: none;
}

.logo .text-d {
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
}

.logo .text {
  font-size: 27px;
  color: #222222;
  font-weight: 300;
}

.logo-img {
  margin-right: 13px;
}

.logo {
  margin-right: 37px;
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.03);
}

.header-form {
  height: 38px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #e6e6e6 !important;
}
.header-form input {
  height: 38px;
  width: 280px;
  padding-left: 16px;
  padding-right: 15px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}
.header-form button {
  height: 38px;
  width: 35px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s;
}
.header-form button:hover {
  background-color: #eee;
}

.header-my-account {
  margin-left: 26px;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s;
}
.header-my-account:hover {
  filter: brightness(120%);
  color: #FFF;
}

.cart {
  margin-left: 6px;
  margin-bottom: 2px;
  transition: filter 0.3s;
}

.header-right a:hover .cart {
  filter: contrast(0%);
}

.header {
  border: 1px solid #ececec;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.menu-link {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.menu-link:hover {
  text-decoration: none;
  color: #f16d7f;
}

.promo {
  background-color: #e8e8e8;
}
.promo-content {
  height: 613px;
  background-image: url(img/promo-background.png);
  background-position: 0 -51px;
  display: flex;
}
.promo-text {
  padding-top: 224px;
  box-sizing: border-box;
}
.promo-text h2 {
  font-size: 60px;
  letter-spacing: 1.5px;
  font-weight: 900;
  line-height: 42px;
}
.promo-text h3 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 64px;
}

.pink {
  color: #f16d7f;
}

.rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  margin-top: 224px;
  margin-right: 12px;
}

.category {
  margin-top: 98px;
}
.category-1 {
  width: 560px;
  height: 542px;
  position: relative;
}
.category-2 {
  width: 560px;
  height: 261px;
}
.category-3 {
  width: 560px;
  height: 261px;
  align-self: flex-end;
}
.category-4 {
  width: 560px;
  height: 542px;
  align-self: flex-end;
}
.category-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 823px;
}
.category-img {
  transition: all 0.3s;
}
.category-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 1;
}
.category-link:hover .category-img {
  transform: scale(1.01);
  filter: brightness(80%);
}
.category-badge-1, .category-badge-2, .category-badge-3, .category-badge-4 {
  margin-top: 26px;
  background-color: #FFF;
  height: 82px;
  text-align: center;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: 0.45px;
  padding-top: 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
}
.category-badge-1 {
  width: 175px;
}
.category-badge-2 {
  width: 225px;
}
.category-badge-3 {
  width: 162px;
}
.category-badge-4 {
  width: 180px;
}
.category-pink-text {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.product-box {
  margin-top: 100px;
  margin-bottom: 113px;
}

.product-container h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-align: center;
}

.product-container h6 {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 60px;
}

.product {
  position: relative;
  width: 261px;
  margin-bottom: 39px;
  transition: all 0.3s;
}
.product-add {
  width: 123px;
  height: 39px;
  display: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #ffffff;
  position: absolute;
  top: 98px;
  left: 70px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
}
.product-add:hover {
  box-shadow: 0 0 10px #fff;
  color: #FFF;
  text-decoration: none;
  transform: translateY(5px) scale(1.1);
}
.product-add img {
  padding-right: 8px;
}
.product-img {
  width: 100%;
  transition: all 0.3s;
}
.product:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product:hover .product-img {
  filter: brightness(50%);
}
.product:hover .product-add {
  display: flex;
}
.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-description {
  margin-bottom: 21px;
}
.product-description h5 {
  font-size: 13px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 17px;
  margin-left: 15px;
}
.product-price {
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
  margin-left: 15px;
}
.product-all {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  width: 212px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.6s;
}
.product-all:hover {
  transform: translateX(20px);
  background-color: #FFF;
  color: #f16d7f;
}

.fa-long-arrow-alt-right {
  padding-left: 8px;
}

.offer-content {
  background-image: url(img/offer.png);
  min-height: 529px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
  position: relative;
}

.offer-text {
  margin-top: 146px;
  margin-left: 39px;
}
.offer-text h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.offer-text h3 {
  font-size: 32px;
  letter-spacing: 0.9px;
  color: #ffffff;
}

.feature-box {
  background-color: #222224;
  min-height: 529px;
  width: 373px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feature {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.feature-img {
  padding-right: 30px;
}
.feature a:hover .feature-img, .feature-horizontal a:hover .feature-img {
  filter: contrast(50%);
}
.feature h5 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.feature-description {
  width: 219px;
}

.subscribe {
  height: 438px;
  background: url(img/subscribe-layer.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 109px;
}
.subscribe-mail h3 {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
}
.subscribe-mail h4 {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
}
.subscribe-mail form {
  margin-top: 35px;
  position: relative;
}
.subscribe-mail input {
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: none;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
}
.subscribe-mail button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  box-shadow: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.35px;
  cursor: pointer;
  position: absolute;
  left: 282px;
  transition: all 0.3s;
}
.subscribe-mail button:hover {
  background-color: #eee;
  color: #f16d7f;
}
.subscribe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.subscribe-man {
  display: flex;
  align-items: flex-start;
  margin-bottom: 41px;
}
.subscribe-man img {
  margin-right: 28px;
}
.subscribe-quote {
  width: 386px;
}
.subscribe-quote-text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-bottom: 19px;
}
.subscribe-author h6 {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.4px;
  line-height: 26px;
  color: #f16d7f;
}
.subscribe-author p {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.subscribe-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 161px;
}
.subscribe-slider-pagination {
  display: flex;
  justify-content: center;
}
.subscribe-slider-pagination img {
  margin-right: 13px;
}

.footer-text {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer-logo .logo {
  text-decoration: none;
  margin-bottom: 29px;
}

.footer-company, .footer-information, .footer-shop-category {
  padding-top: 14px;
}

.footer-company h3, .footer-information h3, .footer-shop-category h3 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 24px;
}

.footer-company ul, .footer-information ul, .footer-shop-category ul {
  list-style-type: none;
}

.footer-company li a, .footer-information li a, .footer-shop-category li a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.footer-company li a:hover, .footer-information li a:hover, .footer-shop-category li a:hover {
  color: #f16d7f;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-shop-category {
  margin-right: 42px;
}

.footer-underline {
  height: 79px;
  background-color: #e6e6e6;
  margin-top: 89px;
}

.social {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-box {
  display: flex;
}

.footer-underline-content {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  box-sizing: border-box;
  align-items: center;
}

.social-link {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.social-link:hover {
  background-color: #f16d7f;
}

.social-link:hover .social-icon {
  filter: contrast(250%);
}

.social-icon-gray {
  filter: contrast(50%);
}

.copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.offer-link {
  display: block;
  position: absolute;
  width: 767px;
  height: 529px;
}

.offer-link:hover {
  background: #222;
  opacity: 0.3;
}

.drop {
  position: absolute;
  display: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 0 20px;
  border: 1px solid #ececec;
  top: 54px;
  z-index: 1;
}

.drop-last {
  right: 0;
}

.drop-third {
  right: -400px;
}

.drop-third:before {
  left: 380px !important;
}

.drop-mid {
  right: -392px;
}

.drop-mid:before {
  left: 400px !important;
}

.drop-last:before {
  right: 50px;
  left: auto !important;
}

.drop:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 29px;
  top: -7px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.drop-link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none;
  transition: all 0.1s;
}
.drop-link:hover {
  color: #f16d7f;
  text-decoration: none;
}

.drop-ul {
  list-style-type: none;
}

.drop-flex {
  min-width: 235px;
  margin-right: 20px;
  margin-left: 20px;
}

.drop-h3 {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 20px;
  letter-spacing: 0.35px;
}

.menu li {
  position: relative;
}

.menu li:hover .drop {
  display: flex;
}

.drop-flex-last {
  margin-left: 9px;
}

.drop-img {
  margin-top: 20px;
  transition: all 0.3s;
}
.drop-img:hover {
  filter: brightness(50%);
}

.browse-drop-box {
  position: relative;
}

.drop-browse {
  top: 38px;
  z-index: 1;
  position: absolute;
  display: flex;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 0 20px;
  border: 1px solid #ececec;
}

.drop-browse:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 65px;
  top: -5px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.browse-drop-box {
  background-color: #f9f9f9;
  height: 38px;
  width: 87px;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.browse-drop-box:hover {
  background: linear-gradient(to bottom, #f9f9f9 0%, #ccc 100%);
}

.browse-drop-box summary {
  display: flex;
  justify-content: space-around;
  line-height: 38px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  height: 38px;
  box-sizing: border-box;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: url(img/arrow-down.png);
}

details[open] summary:after {
  content: url(img/arrow-up.png);
}

.product-name {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232323;
  transition: all 0.1s;
}
.product-name:hover {
  color: #f16d7f;
}

.product-cart-price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
}

.product-cart {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.product-cart-img {
  margin-right: 16px;
  transition: all 0.3s;
}
.product-cart-img:hover {
  filter: brightness(50%);
}

.product-cart-description {
  margin-right: 55px;
}

.product-cart-rating {
  margin: 8px 0;
}

.cart-box {
  position: relative;
  padding: 15px 0;
}

.drop-cart {
  position: absolute;
  left: -85px;
  top: 53px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  z-index: 1;
  padding: 20px 16px;
  display: none;
}

.drop-cart:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 105px;
  top: -5px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.cart-box:hover .drop-cart {
  display: block;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.total-price p {
  font-size: 16px;
  font-weight: 700;
}

.checkout {
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  width: 225px;
  height: 50px;
  border: 1px solid #f16d7f;
  box-sizing: border-box;
  margin-bottom: 11px;
}

.checkout:hover {
  background-color: #f16d7f;
  color: #fff;
}

.go-to-cart {
  color: #4a4a4a;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}

.go-to-cart:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.product-cart-close:hover {
  filter: brightness(70%);
}

.arrivals {
  height: 148px;
  background-color: #f8f3f4;
  margin-bottom: 60px;
}

.arrivals-text {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0;
}

.breadcrumb-item a {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
}

.breadcrumb .active-breadcrumb {
  color: #f16d7f;
  font-weight: 700;
  text-transform: uppercase;
}

.arrivals-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.side-summary {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 243px;
  height: 37px;
  line-height: 37px;
  padding-left: 11px;
  padding-right: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  cursor: pointer;
}

.side-summary:hover {
  color: #ef5b70;
}

.side-details:hover .side-summary:after {
  content: url(img/arrow-down-pink.png);
}

.side-details[open] .side-summary {
  color: #ef5b70;
}

.side-details[open] .side-summary:after {
  content: url(img/arrow-up-pink.png);
}

.side-details {
  width: 243px;
  margin-bottom: 18px;
}

.side-drop ul {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 24px;
  padding-left: 22px;
}

.side-drop ul li a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
  padding: 7px 0;
}

.side-drop ul li a:hover {
  color: #f16d7f;
}

.catalog-content {
  display: flex;
  justify-content: space-between;
}

.trending-ul {
  list-style-type: none;
  display: flex;
  width: 176px;
  flex-wrap: wrap;
}

.trending-ul li a {
  padding-right: 5px;
  color: #6f6e6e;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.trending-ul li a:hover {
  color: #f16d7f;
}

.trending-ul li a:after {
  content: "|";
  color: #dfdfdf;
  margin-left: 5px;
}

.trending-ul-span {
  display: flex;
}

.trending-ul-span li:last-child :after {
  content: "";
}

.size-ul {
  list-style-type: none;
  display: flex;
  width: 236px;
  flex-wrap: wrap;
}

.size-ul li {
  width: 50px;
  box-sizing: border-box;
  margin-right: 11px;
  margin-bottom: 14px;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

.size-ul li input {
  margin-right: 6px;
  display: none;
}

.size-ul li label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.size-ul li label:after {
  content: "";
  display: block;
  height: 13px;
  width: 13px;
  outline: 1px solid #ebebeb;
  position: absolute;
  top: 4px;
  left: 0;
}

.size-ul li input[type=checkbox]:checked + label:after {
  outline: 1px solid #ebebeb;
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
  background-color: #f16d7f;
}

.filter-price input {
  width: 262px;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.price-interval {
  display: flex;
  justify-content: space-between;
}

.price-interval p {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.filter-h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.catalog-box {
  max-width: 850px;
}

.filter-underline {
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sort-by {
  display: flex;
  width: 153px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin: 0 10px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}

.sort-by p {
  line-height: 30px;
  display: block;
  width: 66px;
  text-align: center;
  border-right: 1px solid #ebebeb;
}

.sort-by-details {
  width: 86px;
  line-height: 30px;
  z-index: 1;
}

.show {
  display: flex;
  width: 119px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}

.show p {
  line-height: 30px;
  display: block;
  width: 55px;
  text-align: center;
  border-right: 1px solid #ebebeb;
}

.show-details {
  width: 63px;
  line-height: 30px;
  z-index: 1;
}

.sort-by-summary, .show-summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sort-by-details ul, .show-details ul {
  list-style-type: none;
  background-color: #FFF;
  border: 1px solid #ebebeb;
  padding-left: 10px;
}

.sort-by-details ul li a, .show-details ul li a {
  text-decoration: none;
  color: #6f6e6e;
}

.sort-by-details ul li a:hover, .show-details ul li a:hover {
  color: #f16d7f;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.view-all {
  display: block;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  text-decoration: none;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  transition: all 0.3s;
}

.view-all:hover {
  background-color: #ef5b70;
  color: #fff;
  text-decoration: none;
}

.subscribe-mail {
  width: 385px;
}

.page-item {
  width: 26px;
}

.pagination {
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}

ul.pagination {
  margin: 0;
}

li.page-item {
  height: 42px;
  line-height: 44px;
}

a.page-link {
  border: 0;
  height: 42px;
  display: flex;
  justify-content: center;
  line-height: 44px;
  padding: 0;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
}

a.active-page-link {
  color: #ef5b70;
}

a.page-link:hover {
  color: #ef5b70;
}

.feature-box-horizontal {
  height: 341px;
  background-color: #222224;
}

.feature-box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.feature-horizontal {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-description-horizontal {
  width: 100%;
}

.feature-h5 {
  text-align: center;
  margin-top: 32px;
}

label {
  margin-bottom: 0;
}

.single-product-slider {
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product-slider-content img {
  margin-top: -50px;
}

.single-product-description {
  margin-top: -86px;
}

.single-product-description-wrapper {
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.single-product-slider-previous {
  padding-top: 365px;
  padding-bottom: 365px;
  padding-right: 200px;
}

.single-product-slider-previous:hover .single-product-slider-previous-block {
  background-color: #ef5b70;
}

.single-product-slider-next {
  padding-top: 365px;
  padding-bottom: 365px;
  padding-left: 200px;
}

.single-product-slider-next:hover .single-product-slider-next-block {
  background-color: #ef5b70;
}

.single-product-slider-previous-block, .single-product-slider-next-block {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8;
}

.single-product-description-content {
  width: 642px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 122px;
}
.single-product-description-content h4 {
  color: #f16d7f;
  width: 150px;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.single-product-description-content h4 img {
  position: absolute;
  bottom: 0;
  right: 42px;
}
.single-product-description-content h3 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 67px;
}
.single-product-description-content p {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 28px;
}
.single-product-description-content ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 37px;
}
.single-product-description-content ul li {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.single-product-description-content-spec li span {
  color: #2f2f2f;
}
.single-product-description-content-spec li:first-of-type {
  padding-right: 44px;
}
.single-product-description-content hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  box-sizing: border-box;
}
.single-product-description-content-filter {
  width: 538px;
  display: flex;
  justify-content: space-between;
}
.single-product-description-content-filter h5 {
  margin-top: 63px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

p.single-product-description-price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.single-product-details ul {
  display: block;
}

.single-product-details ul li a, .single-product-description-content-filter input {
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 9px;
  padding-left: 14px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
}

.single-product-summary {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 9px;
  padding-left: 14px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
}
.single-product-summary img {
  padding-right: 11px;
}
.single-product-summary span {
  display: flex;
  align-items: center;
}
.single-product-summary:after {
  content: url(img/details-arrow-down.png);
}

.single-product-details[open] .single-product-summary:after {
  content: url(img/details-arrow-up.png);
}

.single-product-add {
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  margin-top: 28px;
  transition: all 0.3s;
}
.single-product-add:hover {
  background-color: #ef5b70;
  color: #ffffff;
  text-decoration: none;
}
.single-product-add:hover .single-product-add-img {
  filter: brightness(300%);
}
.single-product-add-img {
  padding-right: 15px;
  transition: all 0.3s;
}

.single-product-also-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.single-product-also-content h3 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 72px;
  margin-top: 119px;
}
.single-product-also-content-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-content {
  margin-bottom: 80px;
}
.cart-content__header {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0;
}
.cart-content__header__list {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.cart-content__header__list:first-of-type {
  padding-right: 300px;
}
.cart-content__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
  padding-bottom: 25px;
  margin-top: 22px;
  border-bottom: 1px solid #eaeaea;
}
.cart-content__product__details {
  width: 278px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 130px;
}
.cart-content__product__details__ul {
  list-style-type: none;
  margin-bottom: 0;
}
.cart-content__product__details__ul__li {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.cart-content__product__details__ul__li_bold {
  color: #575757;
  font-weight: 600;
}
.cart-content__product__details__ul__li_header {
  padding-bottom: 38px;
}
.cart-content__product__details__ul__li_header a {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-content__product__details__ul__li_header a:hover {
  text-decoration: none;
  color: #f16d7f;
}
.cart-content__product__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  margin-left: 10px;
  padding-left: 18px;
}
.cart-content__product__action {
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.cart-content__product__action:hover {
  filter: brightness(50%);
}
.cart-content__button {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 63px;
}
.cart-content__button__clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}
.cart-content__button__clear:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
}
.cart-content__button__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}
.cart-content__button__continue:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
}
.cart-content__footer {
  display: flex;
  justify-content: space-between;
}
.cart-content__footer__adress {
  width: 355px;
}
.cart-content__footer__adress input {
  padding-left: 18px;
  padding-right: 20px;
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  margin-top: 20px;
}
.cart-content__footer__adress input:last-of-type {
  width: 100px;
  height: 35px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  transition: all 0.3s;
}
.cart-content__footer__adress input:last-of-type:hover {
  background-color: #4a4a4a;
  color: #FFFFFF;
}
.cart-content__footer__adress h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.cart-content__footer__discount {
  width: 355px;
}
.cart-content__footer__discount h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.cart-content__footer__discount label {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 28px;
}
.cart-content__footer__discount input {
  padding-left: 18px;
  padding-right: 20px;
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  margin-top: 25px;
}
.cart-content__footer__discount input:last-of-type {
  width: 100px;
  height: 35px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  transition: all 0.3s;
}
.cart-content__footer__discount input:last-of-type:hover {
  background-color: #4a4a4a;
  color: #FFFFFF;
}
.cart-content__footer__check {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding: 42px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-content__footer__check hr {
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  margin-top: 22px;
  margin-bottom: 17px;
}
.cart-content__footer__check__sub {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-content__footer__check__sub__value {
  padding-left: 15px;
}
.cart-content__footer__check__total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 14px;
}
.cart-content__footer__check__total__value {
  color: #f16d7f;
  padding-left: 15px;
}
.cart-content__footer__check a {
  width: 273px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  border: 1px solid #f16d7f;
}
.cart-content__footer__check a:hover {
  background-color: #f5f3f3;
  color: #f16d7f;
  text-decoration: none;
}

.cart-content__link__img {
  transition: all 0.3s;
}
.cart-content__link:hover .cart-content__link__img {
  filter: brightness(50%);
}

.checkout-content {
  margin-bottom: 93px;
  margin-top: 20px;
}

.adress-content {
  display: flex;
  padding-top: 40px;
  padding-left: 35px;
  padding-bottom: 79px;
}

.checkout-details {
  border-bottom: 1px solid #e8e8e8;
}

.checkout-summary {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 72px;
  transition: all 0.3s;
}
.checkout-summary:after {
  display: none;
}
.checkout-summary:hover {
  color: #f16d7f;
}

.adress__text {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.adress__text-mini {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 30px;
}
.adress__text-mini_red {
  color: #ff0d0d;
  font-weight: 700;
}

.adress-left__check {
  display: flex;
  flex-direction: column;
}
.adress-left__radio {
  margin-right: 14px;
  background-color: #fff;
}
.adress-left__label {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.adress-left__label:last-of-type {
  margin-bottom: 33px;
}
.adress-left__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.adress-left__feature {
  list-style-type: none;
  margin-left: 20px;
}
.adress-left__list {
  margin-bottom: 15px;
}
.adress-left__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: all 0.3s;
  margin-top: 31px;
}
.adress-left__button:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4a4a4a;
}

.adress-left__radio:checked + .radio-text:after {
  opacity: 1;
}

.radio-text {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
}
.radio-text:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #555555;
  border-radius: 50%;
  background: #FFF;
}
.radio-text:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
}

.adress-right {
  width: 391px;
  margin-left: 290px;
}
.adress-right__input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 16px;
  margin-bottom: 23px;
  font-size: 14px;
}
.adress-right__label {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.adress-right__label span:after {
  content: " *";
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 700;
}
.adress-right__button-box {
  display: flex;
  align-items: center;
}
.adress-right__button {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}
.adress-right__button:hover {
  color: #FFFFFF;
  background-color: #4a4a4a;
}
.adress-right__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 32px;
  transition: all 0.3s;
}
.adress-right__link:hover {
  text-decoration: none;
  color: #f16d7f;
}

/*# sourceMappingURL=style.css.map */
