@charset "UTF-8";
@import url("https://use.typekit.net/jrs5srl.css");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  background: #008DCD;
  border-radius: 30px;
  width: 278px;
  height: 48px;
  text-decoration: none;
}

.top {
  height: 100vh;
  background: url("img/header-bg.jpg") right -58px top -11px no-repeat;
  background-size: 790px 288px;
  display: flex;
  flex-direction: column;
}
.top__text {
  font-size: 2.66rem;
  margin-top: 235px;
  font-weight: 700;
  line-height: 38px;
  align-self: center;
}
.top__text-mini {
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  margin-top: 18px;
  align-self: center;
}
.top__button {
  align-self: center;
  margin-top: 80px;
}
.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.top__header__menu {
  display: none;
}

.description {
  display: flex;
  min-height: 371px;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
  padding-top: 17px;
  box-sizing: border-box;
}
.description__img {
  transform: scale(0.42);
}
.description__name {
  font-size: 1.5rem;
  line-height: 22px;
  margin-top: 25px;
}
.description__text {
  font-size: 1rem;
  line-height: 14px;
  margin-top: 10px;
}
.description__button {
  margin-top: 12px;
}

.step-box__step {
  margin-bottom: 40px;
}
.step-box__heading {
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 8px;
  margin-top: 28px;
}
.step-box__text {
  font-size: 1.16rem;
  line-height: 17px;
}

.step-call {
  min-height: 161px;
  background: #F7F7F7;
  box-sizing: border-box;
}
.step-call__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-call__heading {
  font-size: 26px;
  line-height: 31px;
  padding-top: 23px;
  margin-bottom: 10px;
}

.feedback {
  min-height: 283px;
  background: #008DCD;
}
.feedback-content {
  padding-top: 32px;
  box-sizing: border-box;
}
.feedback__heading {
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.feedback__text {
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
  margin-bottom: 14px;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__input {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: transparent;
  width: 280px;
  height: 48px;
  padding-left: 24px;
  padding-right: 44px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
}
.feedback__input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.feedback__input::-moz-placeholder {
  color: #FFFFFF;
}
.feedback__button {
  background: #FFCC00;
  border-radius: 30px;
  width: 280px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #363636;
  font-size: 16px;
  margin-top: 9px;
}
.feedback__label {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.feedback__label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.feedback__label__text {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  color: #FFFFFF;
}
.feedback__label__text:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  background: #008DCD;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.feedback__label__text:after {
  content: "✔";
  position: absolute;
  top: -3px;
  left: 3px;
  width: 10px;
  height: 10px;
  display: none;
}
.feedback__label input:checked + .feedback__label__text:after {
  display: block;
}

.comment {
  padding-top: 20px;
  box-sizing: border-box;
}
.comment-content {
  padding-top: 20px;
  box-sizing: border-box;
}
.comment__heading {
  font-size: 2.33rem;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 15px;
}
.comment-box {
  margin-bottom: 30px;
}
.comment-box__top {
  display: flex;
}
.comment-box__description {
  margin-left: 40px;
}
.comment__name {
  font-size: 26px;
  margin-bottom: 2px;
}
.comment__company {
  font-size: 18px;
  margin-bottom: 5px;
}
.comment__details {
  list-style-type: none;
}
.comment__list {
  font-size: 10px;
  margin-bottom: 2px;
}
.comment__list:last-of-type {
  margin-bottom: 0;
}
.comment__text {
  margin-top: 14px;
  font-size: 1rem;
}

.advantages {
  background: #F7F7F7;
}
.advantages-content {
  padding-top: 23px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.advantages__heading {
  font-size: 2.33rem;
  margin-bottom: 15px;
}
.advantages-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-box__item {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-box__wrapper {
  background: #FFFFFF;
  width: 86px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  margin-bottom: 9px;
}
.advantages-box__text {
  font-size: 10px;
  text-align: center;
}

.guarantee {
  padding-top: 27px;
  box-sizing: border-box;
}
.guarantee__heading {
  font-size: 2.33rem;
  margin-bottom: 20px;
  margin-left: 15px;
}
.guarantee__img {
  transform: scale(0.6);
}
.guarantee__img-wrapper {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.guarantee__name {
  font-size: 1.33rem;
  width: 100px;
}
.guarantee__text {
  font-size: 12px;
}
.guarantee__top {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.guarantee__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.guarantee__button {
  display: flex;
  width: 230px;
  height: 48px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #008DCD;
  text-decoration: none;
  border-radius: 30px;
  align-self: center;
  margin-top: 12px;
}

.faq {
  background-color: #D2ECF7;
}
.faq-content {
  padding-top: 20px;
  box-sizing: border-box;
}
.faq__heading {
  font-size: 2.33rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.faq__item {
  width: 278px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.faq__item:last-of-type {
  margin-bottom: 25px;
}
.faq__text {
  width: 206px;
}
.faq__flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.partner__img {
  transform: scale(0.7);
}

.footer {
  background-color: #E9E9E9;
}
.footer-content {
  padding-top: 12px;
  box-sizing: border-box;
}
.footer__heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer__form {
  padding-bottom: 15px;
  border-bottom: 1px solid #C4C4C4;
}
.footer__input {
  border: 1px solid #363636;
  width: 290px;
}
.footer__input::-webkit-input-placeholder {
  color: #363636;
}
.footer__input::-moz-placeholder {
  color: #363636;
}
.footer__button {
  background: #008DCD;
  color: #FFFFFF;
  width: 290px;
}
.footer__label__text {
  color: #363636;
}
.footer__label__text:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  background: #E9E9E9;
  border: 1px solid #363636;
  box-sizing: border-box;
}
.footer__label__text:after {
  content: "✔";
  position: absolute;
  top: -3px;
  left: 3px;
  width: 10px;
  height: 10px;
  display: none;
}
.footer__label input:checked + .feedback__label__text:after {
  display: block;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 18px;
  border-bottom: 1px solid #C4C4C4;
}
.footer__img {
  transform: scale(0.85);
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}
.footer__copy, .footer .footer__author {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .menu-mini {
    display: none;
  }

  .top {
    height: 415px;
    background: url("img/header-bg.jpg") right -110px top 0px no-repeat;
    background-size: 1138px 415px;
    display: flex;
    flex-direction: column;
  }
  .top__text {
    width: 400px;
    margin-top: 55px;
    color: #FFFFFF;
    align-self: flex-start;
  }
  .top__text-mini {
    color: #FFFFFF;
    align-self: flex-start;
    margin-top: 25px;
  }
  .top__button {
    align-self: flex-start;
    margin-top: 36px;
  }
  .top__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  .top__header__menu {
    display: flex;
    list-style-type: none;
  }
  .top__header__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
  }
  .top__header__list {
    padding-right: 32px;
  }
  .top__header__list:last-of-type {
    padding-right: 0;
  }

  .description {
    position: relative;
    display: flex;
    min-height: 371px;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    padding-top: 0;
    box-sizing: border-box;
  }
  .description__img {
    position: absolute;
    right: -100px;
    top: 30px;
    transform: scale(0.6);
  }
  .description__name {
    font-size: 36px;
    margin-top: 25px;
  }
  .description__text {
    font-size: 1rem;
    line-height: 14px;
    margin-top: 75px;
    width: 280px;
    align-self: flex-start;
  }
  .description__button {
    margin-top: 35px;
    align-self: flex-start;
  }

  .step-box {
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
  .step-box__step {
    margin-bottom: 40px;
    width: 280px;
  }
  .step-box__heading {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 8px;
    margin-top: 28px;
  }
  .step-box__text {
    font-size: 1.16rem;
    line-height: 17px;
  }

  .step-call {
    min-height: 161px;
    background: #F7F7F7;
    box-sizing: border-box;
  }
  .step-call__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  .step-call__heading {
    font-size: 26px;
    padding-top: 0;
    margin-bottom: 0;
    width: 380px;
  }

  .feedback {
    min-height: 171px;
  }
  .feedback-wrapper {
    width: 300px;
  }
  .feedback-content {
    display: flex;
    justify-content: space-between;
    padding-right: 34px;
    padding-left: 34px;
  }
  .feedback__heading {
    align-self: flex-start;
  }
  .feedback__text {
    align-self: flex-start;
  }
  .feedback__form {
    align-self: flex-end;
  }
  .feedback__label {
    align-self: flex-start;
  }
  .feedback__label__text {
    font-size: 10px;
  }

  .comment-content {
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
  }
  .comment__heading {
    font-size: 2.33rem;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 36px;
  }
  .comment-box {
    margin-bottom: 30px;
    width: 280px;
  }
  .comment-box__top {
    display: flex;
  }
  .comment-box__description {
    margin-left: 40px;
  }
  .comment__name {
    font-size: 26px;
    margin-bottom: 2px;
  }
  .comment__company {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .comment__details {
    list-style-type: none;
  }
  .comment__list {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .comment__list:last-of-type {
    margin-bottom: 0;
  }
  .comment__text {
    margin-top: 14px;
    font-size: 1rem;
  }

  .guarantee {
    padding-top: 27px;
    box-sizing: border-box;
  }
  .guarantee-content {
    display: flex;
    justify-content: space-between;
  }
  .guarantee__heading {
    font-size: 2.33rem;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  .guarantee__img {
    transform: scale(0.6);
  }
  .guarantee__img-wrapper {
    width: 62px;
    height: 62px;
    border-radius: 31px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 18px;
  }
  .guarantee__name {
    font-size: 18px;
    width: 220px;
  }
  .guarantee__text {
    font-size: 12px;
  }
  .guarantee__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 14px;
  }
  .guarantee__item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 220px;
    position: relative;
    min-height: 280px;
  }
  .guarantee__button {
    position: absolute;
    bottom: -10px;
  }

  .faq__heading {
    margin-left: 16px;
  }
  .faq__item {
    width: 700px;
  }
  .faq__text {
    width: 630px;
  }
}

/*# sourceMappingURL=style.css.map */
